$si-content-bg: rgba(white, 1);
$si-font-size: 12px;
$si-font-color: #333;

$si-pointer-length: 20px;
$si-content-padding: 20px;
$si-shadow-h:           10px;
$si-shadow-v:           10px;
$si-shadow-blur:        0px;
$si-shadow-spread:      0px;
$si-shadow-opacity: 0.4;
$si-border-width:       1px;
$si-border-style:       solid;
$si-border-color:       lime;
$si-border-radius:      0px;

@import "../../src/scss/snazzy-info-window";

html {
    height: 100%;
}

body {
    height: 1600px;
    margin: 0;
    background: #fff;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    > div{
        flex-grow: 1;
    }
}

#center{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div{
        flex-grow: 1;
    }

    > #map-canvas{
        flex-grow: 6;
    }
}

body#center {
    height: 100%;
}

#map-canvas,
.map-canvas {
    .si-content{
        text-align: center;
    }
}

.map-canvas {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    box-shadow: 0 1px 3px 0 rgba(black, 0.4);
}
