// Pointer
$si-pointer-length:     10px !default;                  // Length of the pointer, from the edge of the infowindow to the tip

@import "../../src/scss/snazzy-info-window";

html {
    height: 100%;
}

body {
    height: 1600px;
    margin: 0;
    background: #fff;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    > div{
        flex-grow: 1;
    }
}

#center{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div{
        flex-grow: 1;
    }

    > #map-canvas{
        flex-grow: 6;
    }
}

body#center {
    height: 100%;
}

.map-canvas {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    box-shadow: 0 1px 3px 0 rgba(black, 0.4);
}
