$snazzy-marker-width: 26px !default;
$snazzy-marker-height: 44px !default;

$snazzy-pointer-length: 20px !default;
$snazzy-info-bg: white !default;

$snazzy-content-gutter: 20px !default;
$snazzy-border-radius: 3px !default;

$snazzy-font-color: #333 !default;
$snazzy-font-size: 14px !default;