/* Snazzy Infowindow */

@import "_settings";

//////////////////////////////////////////////////
//
// Contents:
//
// 1. 
//
//////////////////////////////////////////////////



//////////////////////////////
// 0. Variables
//////////////////////////////

// Snazzy Info Window settings
$si-pre:             si;

// Math variables
$root-2: 1.41421356237;
$inverse-root-2: 0.70710678118;

// Pointer settings
$rotation: -45deg;
$rotated-shadow-h: $inverse-root-2 * ($si-shadow-h - $si-shadow-v);     // Only applies to a -45deg rotation
$rotated-shadow-v: $inverse-root-2 * ($si-shadow-h + $si-shadow-v);     // Only applies to a -45deg rotation



//////////////////////////////
// 1. Wrapper Styles
//////////////////////////////

// Infowindow wrapper
.#{$si-pre}-wrapper{    
    display: flex;
    position: absolute;
    align-items: center;
    color: $si-font-color;
    font-size: $si-font-size;

    * {
        box-sizing: border-box;
    }
}

// Top-positioned infowindow
.#{$si-pre}-wrapper-top {
    transform: translate(-50%, -100%);
    flex-direction: column;
    margin-top: -$si-default-marker-anchor-y - $si-default-marker-margin;
    margin-left: $si-default-marker-width/2 - $si-default-marker-anchor-x;
}

// Bottom-positioned infowindow
.#{$si-pre}-wrapper-bottom {
    transform: translate(-50%, 0);
    flex-direction: column;
    margin-top: $si-default-marker-height - $si-default-marker-anchor-y + $si-default-marker-margin;
    margin-left: $si-default-marker-width/2 - $si-default-marker-anchor-x;
}

// Left-positioned infowindow
.#{$si-pre}-wrapper-left {
    transform: translate(-100%, -50%);
    margin-top: $si-default-marker-height/2 - $si-default-marker-anchor-y;
    margin-left: -$si-default-marker-anchor-x - $si-default-marker-margin;
}

// Right-positioned infowindow
.#{$si-pre}-wrapper-right {
    transform: translate(0, -50%);
    margin-top: $si-default-marker-height/2 - $si-default-marker-anchor-y;
    margin-left: $si-default-marker-width - $si-default-marker-anchor-x + $si-default-marker-margin;
}



//////////////////////////////
// 2. Content Styles
//////////////////////////////

// Window styles
.#{$si-pre}-window {
    background-color: $si-content-bg;
    border: $si-border-width $si-border-style $si-border-color;
}

// Box styles
.#{$si-pre}-box {
    flex: 1 0 auto;
    position: relative;
    padding: $si-content-padding;
    border-radius: $si-border-radius;
}



//////////////////////////////
// 3. Pointer Styles
//////////////////////////////

// Pointer wrapper
[class*="#{$si-pre}-pointer-wrapper-"] {
    align-self: stretch;
    position: relative;
    overflow: hidden;
}

// General pointer styles
.#{$si-pre}-pointer {
    position: absolute;
    width: $si-pointer-length * $root-2;
    height: $si-pointer-length * $root-2;
}

// Top pointer positioning
.#{$si-pre}-pointer-wrapper-top {  
    height: $si-pointer-length;
    margin-top: -$si-border-width;
}
.#{$si-pre}-wrapper-top {
    .#{$si-pre}-pointer {
        left: 50%;
        transform: translate(-50%, -50%) rotate($rotation);
    }
}

// Bottom pointer positioning
.#{$si-pre}-pointer-wrapper-bottom {  
    order: -1;
    height: $si-pointer-length;
    margin-bottom: -$si-border-width;
}
.#{$si-pre}-wrapper-bottom {
    .#{$si-pre}-pointer {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate($rotation);
    }
}

// Left pointer positioning
.#{$si-pre}-pointer-wrapper-left {  
    width: $si-pointer-length;
    margin-left: -$si-border-width;
}
.#{$si-pre}-wrapper-left {  
    .#{$si-pre}-pointer {
        top: 50%;
        transform: translate(-50%, -50%) rotate($rotation);
    }
}

// Right pointer positioning
.#{$si-pre}-pointer-wrapper-right {  
    order: -1;
    width: $si-pointer-length;
    margin-right: -$si-border-width;
}
.#{$si-pre}-wrapper-right {    
    .#{$si-pre}-pointer {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate($rotation);
    }
}



//////////////////////////////
// 3. Infowindow Shadow
//////////////////////////////

// Shadow wrapper
[class*="#{$si-pre}-shadow-wrapper"] {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: $si-shadow-opacity;

    .#{$si-pre}-pointer-wrapper {
        overflow: visible;
    }
}

// Shadow position
.#{$si-pre}-shadow-wrapper-top,
.#{$si-pre}-shadow-wrapper-bottom {
    flex-direction: column;
}

// Box shadow
.#{$si-pre}-shadow-box {
    box-shadow: $si-shadow-h $si-shadow-v $si-shadow-blur $si-shadow-spread $si-shadow-color;
}

// Pointer shadow
.#{$si-pre}-shadow-pointer {
    box-shadow: $rotated-shadow-h $rotated-shadow-v $si-shadow-blur $si-shadow-spread $si-shadow-color;
}