/* Snazzy Infowindow */

@import "_settings";

//////////////////////////////////////////////////
//
// Contents:
//
// 1. 
//
//////////////////////////////////////////////////



//////////////////////////////
// 0. Variables
//////////////////////////////
$root-2: 1.41421356237;
$inverse-root-2: 0.70710678118;
$rotated-shadow-h: $inverse-root-2 * ($si-shadow-h - $si-shadow-v);
$rotated-shadow-v: $inverse-root-2 * ($si-shadow-h + $si-shadow-v);

//////////////////////////////
// 1. Wrapper Styles
//////////////////////////////

// Infowindow wrapper
.snazzy-info-wrapper{    
    display: flex;
    align-items: center;
}

// Top-positioned infowindow
.snazzy-info-wrapper-top {
    transform: translate(-50%, -100%);
    margin-top: -$si-marker-height;
    flex-direction: column;
}

// Bottom-positioned infowindow
.snazzy-info-wrapper-bottom {
    transform: translate(-50%, 0);
    flex-direction: column;
}

// Left-positioned infowindow
.snazzy-info-wrapper-left {
    transform: translate(-100%, -50%);
    margin-top: $si-marker-height / -2;
    margin-left: $si-marker-width / -2;
}

// Right-positioned infowindow
.snazzy-info-wrapper-right {
    transform: translate(0, -50%);
    margin-top: $si-marker-height / -2;
    margin-left: $si-marker-width / 2;
}



//////////////////////////////
// 2. Content Styles
//////////////////////////////

// Content wrapper
.snazzy-info-content {
    position: relative;
    width: 100%;
    z-index: 3;
    padding: $si-content-padding;
    background-color: $si-content-bg;
    border-radius: $si-border-radius;
    color: $si-content-color;
    font-size: $si-content-size;
}



//////////////////////////////
// 3. Pointer Styles
//////////////////////////////

// General pointer styles
.snazzy-info-pointer {
    flex: 0 0 auto;
    position: relative;
    width: $si-pointer-length;
    height: $si-pointer-length;
    margin: auto;
    z-index: 2;
    background-color: $si-pointer-bg;
}

// Top and bottom pointer positioning
.snazzy-info-pointer-top,
.snazzy-info-pointer-bottom {
    transform: translate(50%, 0) rotate(-45deg) scale($root-2);
}

// Left and right pointer positioning
.snazzy-info-pointer-left,
.snazzy-info-pointer-right {
    transform: translate(0, 50%) rotate(-45deg) scale($root-2);
}

// Top pointer positioning
.snazzy-info-pointer-top {
    order: 2;
    transform-origin: 0 100%;
}

// Bottom pointer positioning
.snazzy-info-pointer-bottom {
    transform-origin: 100% 100%;
}

// Left pointer positioning
.snazzy-info-pointer-left {
    order: 2;
    transform-origin: 0 100%;
}

// Right pointer positioning
.snazzy-info-pointer-right {
    transform-origin: 0 0;
}



//////////////////////////////
// 3. Infowindow Shadow
//////////////////////////////

[class*="snazzy-info-shadow-wrapper"] {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.4;
}

.snazzy-info-shadow-content {
    flex: 1 1 auto;
    display: block;
    box-shadow: $si-shadow-h $si-shadow-v $si-shadow-blur $si-shadow-spread $si-shadow-color;
}

.snazzy-info-shadow-pointer {
    box-shadow: ($rotated-shadow-h * $inverse-root-2) ($rotated-shadow-v * $inverse-root-2) ($si-shadow-blur * $inverse-root-2) ($si-shadow-spread * $inverse-root-2) $si-shadow-color;
    background-color: transparent;
}

.snazzy-info-shadow-wrapper-top,
.snazzy-info-shadow-wrapper-bottom {
    flex-direction: column;
}